[theme="white"] {
	--primary-background: #C3C3C3;
	--primary-text: #FFFF;
	--primary-border-elevated: white;
	--primary-border-depressed: black;
}

/* 
[theme="black"] {
	--primary-background: #C3C3C3;
	--primary-text: #FFFF;
	--primary-border-elevated: white;
	--primary-border-depressed: black;
}
 */